<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Form</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
 <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body> 
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form th:action="@{/save}" th:object="${loginForm}" method="post">
  <p th:if="${error}" class="error">UserName & Password Incorrect</p>
          <div class="row">
             Username
            <input type="text" name="username">
          </div>
          <div class="row">
            Password
            <input type="password" name="password">
          </div>
          <div class="g-recaptcha" th:attr="data-sitekey='6Lc-EI8oAAAAAK2A4F_rxV07YpXuI9DcPqBk7mlf'"></div>
          <div class="row button">
            <input type="submit" value="Login">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>